In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
pd.qcut(df['size'],q=2)

0      (0.999, 2.0]
1        (2.0, 6.0]
2        (2.0, 6.0]
3      (0.999, 2.0]
4        (2.0, 6.0]
           ...
239      (2.0, 6.0]
240    (0.999, 2.0]
241    (0.999, 2.0]
242    (0.999, 2.0]
243    (0.999, 2.0]
Name: size, Length: 244, dtype: category
Categories (2, interval[float64]): [(0.999, 2.0] < (2.0, 6.0]]

In [7]:
m=set()
m.add('bil')

In [8]:
m

{'bil'}

In [10]:
m.update(['a','b'])

In [11]:
m

{'a', 'b', 'bil'}

In [15]:
m.update(['c',(1,2)])

In [16]:
m.update(['z',[1,2]])

TypeError: unhashable type: 'list'

In [17]:
m

{(1, 2), 1, 2, 'a', 'b', 'bil', 'c', 'z'}

In [18]:
a='bijali'
a.replace('i','a',2)

'bajala'

In [19]:
a=list(range(5))
a

[0, 1, 2, 3, 4]

In [24]:
a.insert(1,12)

In [25]:
a

[0, 12, 1, 2, 3, 4, 1, 1]

In [26]:
a.reverse()

In [27]:
a

[1, 1, 4, 3, 2, 1, 12, 0]

In [28]:
a.index(1)

0

In [32]:
m='i am data scientist'
l=m.split()

In [31]:
m.join('')

''

In [35]:
' '.join(l)

'i am data scientist'

In [36]:
a=[1,2,2,1]
a.remove(2)

In [37]:
a

[1, 2, 1]

In [39]:
l=set(a)
l.remove(2)

In [40]:
l

{1}

In [48]:
a={1,2,3}
b={3,4}
a.symmetric_difference_update(b)

In [49]:
a

{1, 2, 4}

In [50]:
b

{3, 4}

In [71]:
d={1:10,2:1}

In [73]:
sorted(d,key=d.get,reverse=True)

[1, 2]

In [62]:
a=[1,2,3,4,56]
import random as r
r.shuffle(a)

In [65]:
r.randrange(0,10,2)

8

In [67]:
def func(a,*args):
    m=[]
    for i in args:
        m.append(i**a)
    return m

In [70]:
func(2,*(1,2,3,4,5,6))

[1, 4, 9, 16, 25, 36]

In [117]:
a=pd.Series([1,2,3])

In [118]:
a[0]=100

In [119]:
a

0    100
1      2
2      3
dtype: int64

In [133]:
a=a.append(pd.Series([8,9,9]),ignore_index=True)

In [134]:
a

0    2
1    3
2    8
3    9
4    8
5    9
6    9
dtype: int64

In [135]:
a.sort_index(ascending=False)

6    9
5    9
4    8
3    9
2    8
1    3
0    2
dtype: int64

In [136]:
a.duplicated().sum()

3

In [141]:
a.drop_duplicates()

0    2
1    3
2    8
3    9
dtype: int64

In [150]:
a=pd.Series(['2000-01-05','2001-02-02'])

In [151]:
a=pd.to_datetime(a)

In [152]:
a.dtype

dtype('<M8[ns]')

In [159]:
a.dt.month_name()

0     January
1    February
dtype: object

In [161]:
a.dt.date+pd.DateOffset(days=5)

0   2000-01-10
1   2001-02-07
dtype: datetime64[ns]